@font-face {
    font-family: "Roboto";
    src: url(Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(Roboto/Roboto-LightItalic.ttf);
    font-weight: normal;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0 ;
}

.container {
    clear: both;
    overflow: auto;
    background-color: #1F2937;
    padding: 3% 10% 1% 10%;
}

.logo img {
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    color: #E5E7EB;
    font-family: "Roboto";
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li a {
    color: #E5E7EB;
    text-decoration: none;
}

nav li a:hover {
    color: plum;
}

.row {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 7% 10% 7% 10%;
}

.col {
    flex-basis: 50%;
}

.row h1 {
    color: #F9FAF8;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: bold;
}

.row p {
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.row button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 7px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
}

button:hover{
    color: plum;
}

.title {
    font-family: "Roboto";
    text-align: center;
    padding-top: 5%;
}

.featured {
    display: flex;
    margin: 2% 23% 5% 23%;
    text-align: center;
}

.card {
    flex-basis: 25%;
    padding: 20px;
}

.card img {
    border-radius: 7%;
   
}

.card p {
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4e50;
}

.quotes {
    background-color: #E5E7EB;
    padding: 7% 23% 7% 23%;
    font-family: "Roboto";
    font-style: italic;
    font-size: 20px;
    color: #1F2937;
    text-align: justify;
}

.quotes p {
    text-align: right;
    font-style: normal;
    font-size: 20px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 2% 10% 2% 10%;
    margin: 5% 13% 5% 13%;
    border-radius: 10px;
    font-family: "Roboto";
}

.cta {
    flex-basis: 90%;
}

.cta-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.cta-btn button {
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    border-radius: 7px;
    border: solid 2px #F9FAF8;
    color: #F9FAF8;
    font-weight: bold;
}

.cta-btn button:hover {
    color: plum
}

.cta-container h1 {
    font-size: 18px;
}

.cta-container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #E5E7EB;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 2%;
}